<% if @author.errors.any? %>
  <h2><%= pluarlize(@author.errors.count, "error") %> prohibited this author from being saved: </h2>
  <ul>
    <% @author.errors.full_messages.each do |m| %>
      <%= content_tag(:li, m) %>
    <% end %>
  </ul>
<% end %>


<h2>Create an Author</h2>
<%= form_tag authors_path, method: "post" do %>
  <div class="field">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name" %>
  </div>
  <div class="field">
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email" %>
  </div>
  <%= submit_tag "Create Author" %>
<% end %>
